{
  email {$ACME_EMAIL}
}

{$DOMAIN:localhost} {
  encode gzip

  @api path /api/* /socket.io/*
  handle @api {
    reverse_proxy server:4000
  }

  handle {
    root * /srv
    try_files {path} /index.html
    file_server
  }
}
